<div class="flex-column-center">
  <h2>Añadir Producto</h2>

  <form [formGroup]="productForm" (ngSubmit)="saveProduct()" class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Código</mat-label>
      <input matInput formControlName="code" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Laboratorio</mat-label>
      <mat-select formControlName="laboratory" [compareWith]="compareLaboratories">
        @for (laboratory of laboratories(); track laboratory.laboratoryId) {
          <mat-option [value]="laboratory">{{ laboratory.name }}</mat-option>
        }
        <mat-option (click)="dialogAddLaboratory()">
          <mat-icon>add</mat-icon>Nuevo Laboratorio</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="category" [compareWith]="compareCategories">
        @for (category of categories(); track category.categoryId) {
          <mat-option [value]="category">{{ category.name }}</mat-option>
        }
        <mat-option (click)="dialogAddCategory()">
          <mat-icon>add</mat-icon>Nueva Categoria</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Peso (g)</mat-label>
      <input matInput type="number" formControlName="productWeight" />
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>IVA (%)</mat-label>
      <input matInput type="number" formControlName="iva" />
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Precio Unitario</mat-label>
      <input matInput type="number" formControlName="price" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>

    <mat-card-actions class="flex-row">
      <button mat-raised-button color="primary" type="button" (click)="goBack.emit()" class="button-action">Cancelar</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="productForm.invalid && !productSaved()" class="button-action">Guardar</button>
    </mat-card-actions>
  </form>
</div>
