.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;;
}

.grid-column-span-4 {
  grid-column: span 4;
}

.grid-column-span-2 {
  grid-column: span 2;
}

.button-action {
  grid-column: span 2;
  justify-self: start;
  margin: 2px;
}

.add-buttons-container {
  grid-column: span 4;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.check-box-main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}

.check-box-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  flex: 1;
}
