
@if (this.showFormAddProduct()) {
  <app-add-product (goBack)="displayFormAddProduct()"
                   (emitProductToSave)="saveProduct($event)"
                    [productSaved]="productSaved()" [productToEdit]="productToEdit()"></app-add-product>
} @else {
  <app-product-list [products]="products()"
                    (addProduct)="displayFormAddProduct()"
                    (editProduct)="displayFormToEditProduct($event)"
                    (deleteProduct)="dialogDeleteProduct($event)"></app-product-list>
}
