.historial-container {
  padding-top: 20px;
  .button-group {
    margin-bottom: 20px;
    button {
      margin-right: 10px;
    }
  }

  .contenido {
    margin-top: 10px;
  }
}

.button-selected {
  color: #125ea9;
  font-weight: bold;
  border: solid 1px black;
}
