<div class="historial-container">
  <div class="button-group">
    <button class="{{ views == 'compra' ? 'button-selected': ''}}" mat-raised-button color="primary" (click)="displayView('compra')">Historial de Compra</button>
    <button class="{{ views == 'venta' ? 'button-selected': ''}}" mat-raised-button color="accent" (click)="displayView('venta')">Historial de Venta</button>
  </div>

  <div class="contenido">
    <app-purchase-history *ngIf="views === 'compra'"></app-purchase-history>
    <app-sales-history *ngIf="views === 'venta'"></app-sales-history>
  </div>
</div>
