<div class="container">
  <form [formGroup]="orderForm" (ngSubmit)="sendRequest()" class="left-panel scrollable-form">

    <mat-form-field appearance="outline" class="width-80">
      <mat-label>Buscar producto (código o nombre)</mat-label>
      <input matInput formControlName="searchProduct" placeholder="Escribe para filtrar...">
      <button *ngIf="orderForm.get('searchProduct')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="cleanDataFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-80">
      <mat-label>Seleccionar producto</mat-label>
      <mat-select formControlName="selectProduct" #selectProduct>
        <mat-option *ngFor="let producto of productsFiltered()" [value]="producto.code">
          {{ producto.code }} - {{ producto.name }} {{ producto.presentation }}, {{ producto.laboratory.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="orderForm.get('selectProduct')?.value" class="quantity-container">
      <section formArrayName="priceTypes" class="grid-column-span-4">
        <h4 class="margin-2px">Selecciona un tipo de precio: </h4>
        <mat-radio-group [formControl]="selectedPriceTypeControl">
          <div class="radio-button-container" *ngFor="let group of priceTypesFormArray.controls; let i = index" [formGroupName]="i">
            <mat-radio-button [value]="i" *ngIf="group.get('selected')?.value">
              {{ group.get('label')?.value }}
            </mat-radio-button>
          </div>
        </mat-radio-group>
          <mat-form-field appearance="outline" *ngIf="enableButtonCancel()">
            <mat-label>Precio</mat-label>
            <input matInput type="number" [formControl]="priceControlForSelected()">
          </mat-form-field>
      </section>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Cantidad</mat-label>
          <input matInput type="number" min="1" formControlName="quantity">
          <mat-error *ngIf="this.orderForm.get('quantity')?.errors?.['stockExceeded']">
            Stock en inventario: {{this.orderForm.get('quantity')?.errors?.['stockExceeded']['currentStock']}}
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="button" class="margin-5-px"
                [disabled]="selectedPriceTypeControl.value == null || orderForm.get('quantity')?.invalid"
                (click)="addProductToList()">Añadir a lista</button>
      </div>
    </div>
    <input type="submit" #submit hidden="hidden">
  </form>

  <div class="right-panel scrollable-tbody">
    <h3 class="margin-top-5">Productos seleccionados</h3>

    <table class="products-table">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Tipo</th>
        <th>Precio Unitario</th>
        <th>Subtotal</th>
        <th *ngIf="productsFormArray?.length"></th>
      </tr>
      </thead>
      <div *ngIf="!productsFormArray?.length">No hay productos añadidos.</div>
      <tbody *ngIf="productsFormArray?.length">
        <tr *ngFor="let item of productsFormArray.controls; let i = index">
          <td>{{ item.get('name')?.value }}</td>
          <td>{{ item.get('quantity')?.value }}</td>
          <td>{{ item.get('priceTypeName')?.value | translatePriceTypeName }}</td>
          <td>{{ item.get('unitPrice')?.value }}</td>
          <td translate="yes">${{ item.get('subTotal')?.value }}</td>
          <td><button mat-button
                      type="button"
                      [matTooltip]="'remover producto'"
                      (click)="removeProduct(i)">🗑️</button></td>
        </tr>
      </tbody>
    </table>

    <div class="total">
      <strong>Total: ${{ totalPrice }}</strong>
    </div>

  </div>
</div>

<div class="buttons-action-container">
  <button class="margin-2px" *ngIf="enableButtonCancel()" mat-stroked-button color="accent"
          type="button" (click)="goBack.emit()">
    Cancelar
  </button>
  <button class="margin-2px"
          mat-flat-button
          color="accent"
          type="submit"
          (click)="submit.click()"
          [disabled]="orderForm.invalid || savingOrderProduct">
    Aceptar
  </button>
</div>
