<header class="header-container">
  <div class="logo-section">
    <span class="title">Drogueria: Salud vida plus</span>
  </div>

  <nav class="nav-links">
    <a [routerLinkActive]="'link-is-activated'"
       class="cursor-pointer" (click)="goHomeRoutes('home','page')"
       [routerLink]="[{outlets: {home_page: ['page']}}]">Inicio</a>

    <a [routerLinkActive]="'link-is-activated'"
       class="cursor-pointer" (click)="goHomeRoutes('home','products')"
       [routerLink]="[{outlets: {home_page: ['products']}}]">Productos</a>

    <a [routerLinkActive]="'link-is-activated'" class="cursor-pointer"
       (click)="goHomeRoutes('home','sale')"
       [routerLink]="[{outlets: {home_page: ['sale']}}]">Caja</a>

    <a [routerLinkActive]="'link-is-activated'"
       class="cursor-pointer" (click)="goHomeRoutes('home','inventory')"
       [routerLink]="[{outlets: {home_page: ['inventory']}}]">Inventario</a>

    <a [routerLinkActive]="'link-is-activated'"
       class="cursor-pointer" (click)="goHomeRoutes('home','historial')"
       [routerLink]="[{outlets: {home_page: ['historial']}}]">Historial</a>
  </nav>

  <button mat-button [matMenuTriggerFor]="menu" style="color: black">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a (click)="goAccount()" mat-menu-item ><mat-icon>account_circle</mat-icon> Cuenta</a>
    <a mat-menu-item ><mat-icon>logout</mat-icon> Cerrar sesion</a>
  </mat-menu>
</header>
