<header class="header-container">
  <div class="logo-section">
    <span class="title">Drogueria: Salud vida plus</span>
  </div>

  <nav class="nav-links">
    <a [routerLinkActive]="'link-is-activated'" [routerLink]="[{outlets: {home: ['page']}}]">Inicio</a>
    <a [routerLinkActive]="'link-is-activated'" [routerLink]="[{outlets: {home: ['products']}}]">Productos</a>
    <a [routerLinkActive]="'link-is-activated'" [routerLink]="[{outlets: {home: ['sale']}}]">Realizar Venta</a>
    <a [routerLinkActive]="'link-is-activated'" [routerLink]="[{outlets: {home: ['inventory']}}]">Inventario</a>
    <a [routerLinkActive]="'link-is-activated'" [routerLink]="[{outlets: {home: ['historial']}}]">Historial</a>
  </nav>
</header>
