<div class="inventory-container">
  <div *ngIf="!makeInventory()" class="buttons-actions-inventory">
    <mat-form-field appearance="outline" class="margin-2px">
      <mat-label>Código del medicamento</mat-label>
      <input matInput [(ngModel)]="filterCode" (input)="applyCodeFilter()">
    </mat-form-field>

    <button mat-flat-button color="primary" type="button" (click)="purchaseOrder()">Abastecer Inventario</button>
  </div>

  <app-inventory-list *ngIf="!makeInventory()" [products]="filteredProducts"></app-inventory-list>

  <div *ngIf="makeInventory()">
    <h2 class="flex-justify-center margin-2px">Abastecer Inventario</h2>
    <app-order-product-form [products]="products"
                            [enableButtonCancel]="true"
                            (goBack)="purchaseOrder()"
                            [savingOrderProduct]="savingOrder()" (sendOrderData)="buysProducts($event)"></app-order-product-form>
  </div>
</div>
