.inventory-container {
  padding: 10px;
  margin-top: 65px;
}

.buttons-actions-inventory {
  display: flex;
  justify-content: space-between;
}

.stock-none {
  color: red;
  font-weight: bold;
}

.stock-low {
  color: orange;
  font-weight: bold;
}

.stock-medium {
  color: goldenrod;
  font-weight: bold;
}

.stock-high {
  color: green;
  font-weight: bold;
}
