/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

html, body { height: 90%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.flex-column-center {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center
}

.margin-2px {
  margin: 2px;
}

.margin-top-50 {
  margin-top: 45px;
}

.flex-row {
  display:flex;
  flex-direction: row;
}

.cursor-pointer {
  cursor: pointer;
}
